<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Test</title>
    <!--<link rel="stylesheet" href="/styles/resets.scss" />
    <link rel="stylesheet" href="/styles/base.scss" />
    <link rel="stylesheet" href="/styles/header.scss" />
    <link rel="stylesheet" href="/styles/form.scss" />
    <link rel="stylesheet" href="/styles/footer.scss" />-->
  </head>

  <body>
    <header>
      <div class="title">Travel App</div>
    </header>

    <main>
      <section>
        <form class="form" onsubmit="return Client.handleSubmit(event)">
          <input
            id="destination"
            type="text"
            name="input"
            value="Hamburg"
            placeholder="Input Location"
          />
          <input
            id="start"
            type="date"
            name="start"
            value="2021-06-12"
            placeholder="Input Location"
          />
          <input
            id="tripend"
            type="date"
            name="end"
            value="2021-08-10"
            placeholder="Input Location"
          />

          <input
            type="submit"
            name=""
            value="Submit"
            onclick="return Client.handleSubmit(event)"
            onsubmit="return Client.handleSubmit(event)"
          />
        </form>
      </section>

      <section id="results">
        <div id="picture"></div>
        <div id="cityCountry"></div>
        <div id="stay"></div>
        <div id="weatherIcon"></div>
        <div id="weatherCurrent"></div>
        <div id="weatherForecast"></div>
      </section>
    </main>

    <footer>
      <p>Project by Jannik</p>
    </footer>
    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
