body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(0deg, rgb(99, 99, 99) 0%, rgb(47, 47, 48) 100%);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 900px;
  min-height: 100vh;
  background: linear-gradient(
    0deg,
    rgb(129, 228, 235) 0%,
    rgb(46, 168, 224) 100%
  );
}
main {
  flex: 2;
}

section {
  max-width: 800px;
  margin: 50px auto;
  font-size: 2em;
}
