form {
  border: 1px solid #545454;
  text-align: center;
  border-radius: 20px;
  padding: 0.5em;
  margin: 0.5em;
  background: rgb(136, 203, 171);
  background: linear-gradient(
    0deg,
    rgb(75, 73, 73) 0%,
    rgb(221, 215, 215) 100%
  );
}

input {
  padding: 5px 20px;
  width: 100%;
  line-height: 16px;
  margin: 10px 0;
}
